.inside-cart{

    border: 1px solid #e0e0e0;
    border-radius: 5px;
    box-shadow: 2px 2px 5px -3px rgba(0, 0, 0, 0.2);
    margin-top: 36px;
    display: flex;
}

.image-cart {
    width: 207px;
    border-radius: 5px;
    /* border: 1px solid #e0e0e0; */
    margin-left: 14px;
    padding: 12px;
    box-shadow: 2px 2px 5px -3px rgba(0, 0, 0, 0.2);
}

.wizard-list{
    list-style-type: none;
    padding: 11px;


}

h1, h2, h3, h4, h5, h6 {
    margin-top: 24px;
    font-family: 'Playfair Display SC', serif;
    margin-bottom: 17px;
}

p {
    text-align: left;
    color: black;
    font-family: 'Playfair Display SC', serif;
    font-size: 13px;
    margin-right: 22px;
    margin-top: 19px;
}

.head-cart {
    text-align: left;
    color: black;
    font-family: 'Playfair Display SC', serif;
    margin-bottom: -13px;
}

.head-cart:hover {
    text-align: left;
    color: #007bff;
    font-family: 'Playfair Display SC', serif;
}

.inform-ab-price {
    text-align: left;
    color: #6f6f6f;
    font-family: 'Playfair Display SC', serif;
}


